[Unit]
Description=DB Listener
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/jjr59/versions/1/testRabbitMQServer.php

User=jjr59

Restart=always
RestartSec=1
